embed/credentials.json
bin/*
frontend/node_modules
frontend/dist
frontend/.nuxt
frontend/.output
frontend/bindings
gdrive
run.test.sh
*.log
RFAD_Launcher-x86_64.AppImage
.task
.bindings*
AppDir
squashfs-root
core.*